@charset "utf-8";
/* CSS Document */

html, html *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Expressway", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 200;
}

a {
	color: white;
	text-decoration: none;
}

body {
	background: black;
	max-height: 100vh;
}

iframe {
	min-height: 250px;
}

p {
	color: white;
	text-align: center;
	font-weight: 300;
}

#bg-all {
	position: fixed;
	z-index: -4;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

#bg-color {
	position: fixed;
	z-index: -3;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	
	-webkit-background:linear-gradient(to bottom, rgba(0,0,0,.75), rgba(0,0,0,.2)), linear-gradient(to right, #AF0020 0%,#2000AF 100%);
	background:linear-gradient(to bottom, rgba(0,0,0,.75), rgba(0,0,0,.2)), linear-gradient(to right, #AF0020 0%,#2000AF 100%);
	
	background-size: 300% 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	transition: background 1s ease;
}

#bg-logo-light {
	position: fixed;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-image: url("../images/background-sm-logo-light.png");
	background-position: bottom;
	background-repeat: no-repeat;
}

#bg-logo-sm {
	position: fixed;
	z-index: -2;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-image: url("../images/background-sm-logo.png");
	background-position: bottom;
	background-repeat: no-repeat;
	opacity: .5;
}

#body-demo {
	position: fixed;
	display: grid;
	top:0;
	right:0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	
	opacity: 0;
	transition: 1s;
}

#body-main {
	opacity: 1;
	z-index: 3;
	
	grid-column: 1/13;
	display: none;
	
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

#body-music {
	opacity: 0;
	z-index: 2;
	
	grid-column: 1/13;
	display: none;
	
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

#body-sound {
	opacity: 0;
	z-index: 1;
	
	grid-column: 1/13;
	display: none;
	
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

#body-start {
	position: fixed;
	top:0;
	right:0;
	z-index: 4;
	width: 100%;
	height: 100%;
	
	background: rgba(255,255,255,1);
	opacity: 1;
	transition: 1s;
}

#btn-demo {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
	margin-top: 50px;
	margin-left: 20px;
	transition: .25s;
}

#btn-top {
	z-index: 100;
	position: fixed;
	display: none;
	bottom: 0;
	right: 0;
	margin-bottom: 2em;
	margin-right: 2em;
}

#btn-top img {
	width: 40px;
}

#d-sdo {
	display: none;
}

#d-mas {
	display: none;
}

#d-mo {
	display: none;
}

#demo-top {
	grid-column: 1 /13;
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-self: center;
	width: 90%;
	max-width: 980px;
}

#demo-text {
	grid-column: 1/13;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-self: center;
	justify-content: center;
}

#demo-mid {
	grid-column: 1 /13;
	display: grid;
	align-content: center;
	justify-items: center;
}

#demo-bottom {
	grid-column: 1 /13;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#demo-bg {
	position: fixed;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #010101;
	background-size: cover;
	background-image: url("../images/background-sm-logo-dark.png");
	background-position: bottom;
	background-repeat: no-repeat;
}

#header {
	opacity: 1;
	
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

#header-sm {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 50px;
}

#header-lg {
	display: none;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px 1px;
	height: 100px;
}

#MO {
	grid-row: 2/3;
}

#MAS {
	grid-row: 1/2;
}

#SDO {
	grid-row: 3/4;
}

#nav-left {
	grid-column: 1/2;
}

#nav-right {
	grid-column: 2/13;
}

#nav-right {
	grid-column: 2/13;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
}

#nav-right a {
	margin-right:50px;
}

#sec-about {
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	background: rgba(0,0,0,0.50);
	grid-template-rows: 50px 1px auto;
}

#sec-contact {
	grid-template-rows: 50px 1px auto; 
}

#sec-main {
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

#sec-start-logo {
	grid-column: 1/13;
	display: none;
} 

#sec-start-logo-sm {
	grid-column: 1/13;
	display: block;
}

#sec-start-mid {
	grid-column: 1/13;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#fnt-start-tk {
	color: #353535;
	font-weight: 400;
	font-size: 2.5em;
	letter-spacing: .25em;
	padding-bottom: 25px;
}

#fnt-start-sdmc {
	font-size: 1.2em;
	background: -webkit-linear-gradient(180deg, #0080ff, #ff0000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#sec-start-enter {
	grid-column: 1/13;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-self: center;
}

#sec-start-enter a {
	display: block;
	color: #353535;
	font-size: 2.5em;
}

#sec-title {
	grid-template-rows: 50px 3fr 1fr;
}

#underline {
	height: 2px;
	background: linear-gradient(90deg, #ff0000,#0080ff);
}

.active-link {
	background: white;
	color: purple;
	text-shadow: none;
	transition: .25s;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  margin-top: 5px;
}

.btn-link {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 60vw;
	height: 50px;
	margin-bottom: 25px;
	border: white 2px solid;
	border-radius: 100px;
	font-weight: 200;
	font-size: 1.5em;
	text-shadow: 1px 0 10px black;
	box-shadow: 1px 0 10px black;
	transition: .25s;
}

.btn-link:hover {
	background: white;
	color: purple;
	text-shadow: none;
	transition: .25s;
}

.font-king{
	color: white;
	font-weight: 600;
	font-size: 2.5em;
	letter-spacing: 4px;
}

.font-sound {
	color: white;
	font-weight: 200;
	font-size: 2.5em;
}

.font-king-drk {
	color: #353535;
	font-weight: 600;
	font-size: 2.5em;
	letter-spacing: 4px;
}

.font-sound-drk {
	color: #353535;	
	font-weight: 200;
	font-size: 2.5em;
}

.font-section {
	color: white;
	font-weight: 200;
	font-size: 2.5em;
	margin-left: 10px;
}

.header-line {
	grid-column: 1 / 13;
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, transparent 0%,rgba(255,255,255,.25) 5%, rgba(255,255,255,.25) 95%, transparent 100%);
}

.item {
	margin-bottom: 50px;
}

.link-option {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	max-width: 250px;
	height: 40px;
	margin-bottom: 25px;
	border: white 2px solid;
	border-radius: 100px;
	font-weight: 200;
	font-size: 1.2em;
	text-shadow: 1px 0 10px black;
	box-shadow: 1px 0 10px black;
}

.link-option:hover {
	background: white;
	color: purple;
	text-shadow: none;
	transition: .25s;
}

.logo {
	grid-column: 2 / 13;
	display: flex;
	align-self: center;
	justify-self: end;
	margin-right: 15px;
}

.logo-drk {
	grid-column: 1 / 13;
	display: flex;
	justify-content:flex-end;
	margin-right: 15px;
}

.logo img {
	width: 90%;
}

.logo-output {
	padding: 5px 0;
	height: 96px;
}

.menu-icon {
	justify-self: start;
	align-self: center;
	margin-left: 15px;
}

.menu-icon div{
	width: 30px;
  	height: 2px;
  	background-color: white;
  	margin: 9px 0;
}

.mp-acpoint {
	grid-column: 1 / 13;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 10px;
	color: white;
	font-weight: 200;
	font-size: 1em;
	
}

.mp-buttons {
	grid-column: 1 / 13;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page {
	position: absolute;
	top: 0;
	right: 0px;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.section{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
}

.section-demo {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto 30% 30%;
	width: 100%;
	min-height: 100%;
}

.simplebar-scrollbar::before {
	background: white;
}

.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
	opacity: 0.4;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	#demo-bg {
		background-image: url("../images/background-sm-logo-dark.png");
	}
	
	#header-sm {
		display: grid;
	}
	
	#header-lg {
		display: none;
	}
	
	#sec-start-logo {
		display: none;
	}
	
	#sec-start-logo-sm {
		display: block;
	}
	
	#bg-logo-light {
		background-image: url("../images/background-sm-logo-light.png");
	}
	
	#sec-title {
		grid-template-rows: 50px 3fr 1fr;
	}
	
	#fnt-start-tk {
		font-size: 3.5em;
	}
	
	#fnt-start-sdmc {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#demo-bg {
		background-image: url("../images/background-lg-drk-logo.png");
	}
	
	#header-sm {
		display: none;
	}
	
	#header-lg {
		display: grid;
	}
	
	#sec-start-logo {
		display: block;
	}
	
	#sec-start-logo-sm {
		display: none;
	}

	#bg-logo-light {
		background-image: url("../images/background-lg-light-logo.png");
	}
	
	#sec-title {
		grid-template-rows: 100px 3fr 1fr;
	}
	
	#bg-logo-sm {
		background-image: url("../images/background-lg-logo.png");
	}
	
	#fnt-start-tk {
		font-size: 5em;
	}
	
	#fnt-start-sdmc {
		font-size: 2em;
	}
}

@media screen and (min-width: 1024px) {
	#btn-demo {
		width: 15vw;
	}
	
	#demo-bg {
		background-image: url("../images/background-lg-drk-logo.png");
	}
	
	#header-sm {
		display: none;
	}
	
	#header-lg {
		display: grid;
	}
	
	#sec-start-logo {
		display: block;
	}
	
	#sec-start-logo-sm {
		display: none;
	}
	
	#bg-logo-light {
		background-image: url("../images/background-lg-light-logo.png");
	}
	
	#sec-title {
		grid-template-rows: 100px 3fr 1fr;
	}
	
	#bg-logo-sm {
		background-image: url("../images/background-lg-logo.png");
	}
	
	#fnt-start-tk {
		font-size: 6.5em;
	}
	
	#fnt-start-sdmc {
		font-size: 2.5em;
	}
}

