@charset "utf-8";
/* CSS Document */

html {
    margin: 0;
    padding: 0;
    font-family: Expressway;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: Expressway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* Testing Classes */
.border {
    border: solid red 1px;
}

/* Text Colors */

.text-light {
    color: white;
}

.text-dark {
    color: #555555;
}

/* Paragraph and Font Formatting */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

/*---Header---*/

.header {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100vw;
    height: 50px;
    top: 0;
    right: 0;
}

.hdr-left {
    height: 100%;
    width: calc(100% - 50px);
}

.hdr-left img {
    display: none;
}

.hdr-right {
    height: 100%;
    width: 50px;
}

.hdr-pages {
    display: none;
}

.hdr-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hdr-btn div {
    width: 100%;
    border-bottom: solid 2px black;
}

/*---Content---*/

.content {
    position: relative;
    z-index: 5;
    height: calc(100vh - 50px);
    width: 100vw;
    margin-top: 50px;
    mask-image: linear-gradient(to bottom, transparent 1%, black 3%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 3%);
}

.page {
    height: calc(100vh - 50px);
    width: 100vw;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    /*--Main Page--*/

#pg-main .sec01 {
    align-items: center;
    justify-content: center;
    height: 40%;
}

    #pg-main .sec01 img {
        width: 80%;
    }

#pg-main .sec02 {
    width: 100%;
    height: 50%;
}

    #pg-main .sec02 .cntnt-btns {
        padding: 0px 50px;
        width: calc(100% - 100px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #pg-main .sec02 .cntnt-btn {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.9em;
        font-weight: 300;
        transition: 0.5s;
    }

    #pg-main .sec02 .btn-text {
        position: relative;
        transition: 0.5s;
    }
    
    #pg-main .sec02 .btn-line {
        position: relative;
        width: 70%;
        border-top: solid 2px;
        transition: 0.5s;
    }
    
    #pg-main .sec02 .right {
        align-items: flex-end;
    }
    
    #pg-main .sec02 .right .btn-line {
        right: 25px;
    }
    
    #pg-main .sec02 .right .btn-text {
        right: 0;
    }

    #pg-main .sec02 .left .btn-line {
        left: 25px;
    }

    #pg-main .sec02 .left .btn-text {
        left: 0;
    }

    #pg-main .sec02 .top .btn-line {
        border-color: #8000FF;
    }
    
    #pg-main .sec02 .mid .btn-line {
        border-color: #0080FF;
    }
    
    #pg-main .sec02 .btm .btn-line {
        border-color: #FF0000;
    }



#pg-main .sec03 {
    display: none;
}

#pg-main .sec04 {
    height: 10%;
}
    #pg-main .sec04 .about-cntct {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 10px;
    }

    #pg-main .sec04 .about-cntct .top {
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 2px;
        padding-bottom: 5px;
    }

    #pg-main .sec04 .arrow {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #555555;
    }

    /*--Menu Page--*/

    #pg-menu {
        height: calc(100vh - 100px);
        display: none;
    }

    .menu-btns {
        margin: 100px 0;
        height: calc(80% - 200px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align:center;
    }

    .menu-btn {
        font-weight: 300;
        font-size: 1.2em;
        letter-spacing: 3px;
        cursor: pointer;
    }

    .menu-exit {
        font-weight: 300;
        font-size: 1.4em;
        text-align: center;
        height: 20%;
        cursor: pointer;
    }

/*---Background---*/

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.bg-text {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
}

.bg-text > div {
    position: absolute;
    transform: rotate(-90deg);
    color: #EEEEEE;
}

.bg-text div {
    line-height: 50vw;
    font-size: 70vw;
    width: 100vh;
}

.bg-text .top {
    bottom: -40px;
    left: -25px;
    width: 100vw;
    height: 100vw;
    font-weight: 700;
    letter-spacing: 0.2em;
    transition: 0s;
}

.bg-text .btm {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 100vw;
    font-weight: 100;
    letter-spacing: -10px;
    bottom: 25px;
    transition: 0s;
}

.bg-color {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
}

.bg-main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.bg-main.bg-main-demo {
    opacity: 0;
    background: linear-gradient(0deg, rgba(128,0,255,0.5) 0%, rgba(0,0,0,0) 25%);
    transition: 0.5s;
}

.bg-main.bg-main-music {
    opacity: 0;
    background: linear-gradient(0deg, rgba(0,128,255,0.5) 0%, rgba(0,0,0,0) 25%);
    transition: 0.5s;
}

.bg-main.bg-main-sound {
    opacity: 0;
    background: linear-gradient(0deg, rgba(255,0,0,0.5) 0%, rgba(0,0,0,0) 25%);
    transition: 0.5s;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /*---Header---*/

    .header {
        height: 100px;
    }

    .hdr-left img {
        padding: 10px 0 0 10px;
        display: block;
        height: 80%;
    }

    /*---Content---*/

    .content {
        height: calc(100vh - 100px);
        margin-top: 100px;
    }

    .page {
        height: calc(100vh - 100px);
    }

        /*--Main Page--*/

    #pg-main .sec01 {
        display: none;
    }

    #pg-main .sec02 {
        height: 75%;
    }

        #pg-main .sec02 .cntnt-btns {
            padding: 50px;
            width: calc(90% - 100px);
        }

        #pg-main .sec02 .cntnt-btn {
            font-size: 2.4em;
        }

    #pg-main .sec03 {
        display: flex;
        align-items: flex-end;
        height: 15%;
    }

        #pg-main .sec03 div {
            padding-right: 10px;
            font-size: 4em;
            letter-spacing: 10px;
            font-weight: 500;
        }


    /*---Background---*/

    .bg-text div {
        line-height: 50vw;
        font-size: 50vw;
        width: 100vh;
    }
    
    .bg-text .top {
        bottom: -50px;
        left: 0px;
    }

    .bg-text .btm {
        left: -25px;
        bottom: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    /*---Header---*/

    .hdr-left img {
        padding: 15px 0 0 15px;
    }

    /*---Content---*/

        /*--Main Page--*/

        #pg-main .sec02 .cntnt-btns {
            width: calc(80% - 100px);
        }

        #pg-main .sec02 .cntnt-btn {
            font-size: 3em;
        }

        #pg-main .sec03 div {
            padding-right: 25px;
            font-size: 4.5em;
        }

        #pg-main .sec04 .about-cntct .top {
            font-size: 1.2em;
        }

    /*---Background---*/

    .bg-text div {
        font-size: 45vw;
    }

    .bg-text .top {
        left: 25px;
    }

    .bg-text .btm {
        bottom: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /*---Header---*/

    .hdr-btn {
        display: none;
    }

    .hdr-left {
        width: 20%;
    }

    .hdr-left img {
        padding: 10px 0 0 10px;
    }

    .hdr-right {
        height: 100%;
        width: 80%;
    }

    .hdr-pages {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .page-btn {
        cursor: pointer;
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 3px;
        margin-right: 50px;
    }

    /*---Content---*/

        /*--Main Page--*/

        #pg-main .sec02 {
            height: 70%;
            display: flex;
            align-items: flex-end;
        }

        #pg-main .sec02 .cntnt-btns {
            width: calc(60% - 100px);
        }

        #pg-main .sec02 .cntnt-btn {
            font-size: 3em;
        }

        #pg-main .sec03 {
            height: 20%;
            align-items: flex-start;
        }

        #pg-main .sec03 div {
            padding-left: 50px;
            font-size: 6em;
        }

        #pg-main .sec04 .about-cntct .top {
            font-size: 1.2em;
        }

        #pg-main .sec04 .arrow {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #555555;
        }

    /*---Background---*/

    .bg-text {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .bg-text > div {
        transform: rotate(0);
        position: relative;
    }
    
    .bg-text div {
        line-height: 1em;
        height: 33vw;
        font-size: 33vw;
        width: 100vw;
        text-align: center;
    }

    .bg-text .top {
        width: 100vw;
        height: 33vw;
        bottom: -140px;
        left: -50px;
    }

    .bg-text .btm {
        width: 100vw;
        height: 33vw;
        left: 20px;
        bottom: -60px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /*---Header---*/

    /*---Content---*/

        /*--Main Page--*/

        #pg-main .sec02 {
            height: 65%;
            display: flex;
            align-items: flex-end;
        }

            #pg-main .sec02 .cntnt-btns {
                padding: 25px 100px;
                width: calc(60% - 200px);
            }

            #pg-main .sec02 .cntnt-btn {
                font-size: 3em;
            }

        #pg-main .sec03 {
            height: 25%;
            align-items: flex-start;
        }

            #pg-main .sec03 div {
                padding-left: 100px;
                font-size: 6.5em;
            }

            #pg-main .sec04 .about-cntct .top {
                font-size: 1.5em;
            }

    /*---Background---*/

    .bg-text div {
        height: 30vw;
        font-size: 30vw;
    }

    .bg-text .top {
        height: 30vw;
        bottom: -175px;
        font-size: 30vw;
        left: -75px;
    }

    .bg-text .btm {
        height: 30vw;
        left: 100px;
        bottom: -80px;
    }
}

/* Extra Extra large devices (large laptops and desktops, 2000px and up) */
@media only screen and (min-width: 2000px) {

    /*---Header---*/

    .header {
        height: 125px;
    }

    .page-btn {
        font-size: 1.1em;
        letter-spacing: 4px;
        margin-right: 75px;
    }

    /*---Content---*/

    .content {
        height: calc(100vh - 125px);
        margin-top: 125px;
    }

    .page {
        height: calc(100vh - 125px);
    }

        /*--Main Page--*/

        #pg-main .sec02 {
            height: 75%;
            display: flex;
            align-items: flex-end;
        }

            #pg-main .sec02 .cntnt-btns {
                padding: 25px 150px;
                width: calc(60% - 300px);
            }

            #pg-main .sec02 .cntnt-btn {
                font-size: 4em;
            }

        #pg-main .sec03 {
            height: 20%;
            align-items: flex-start;
        }

            #pg-main .sec03 div {
                padding-left: 100px;
                font-size: 9em;
            }

        #pg-main .sec04 {
            height: 5%;
        }

    /*---Background---*/

    .bg-text .top {
        bottom: -275px;
        left: -150px;
    }

    .bg-text .btm {
        left: 125px;
        bottom: -125px;
    }
}